In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/Pranjal/OneDrive/Desktop/Book1.csv")

In [4]:
df.isnull()

,Math_score,Reading_score,Writing_score,Placementscore,Clubjoiningyear,Placementoffer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,True,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,True,False,False
17,True,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_score       48 non-null     float64
 1   Reading_score    49 non-null     int64
 2   Writing_score    48 non-null     float64
 3   Placementscore   48 non-null     float64
 4   Clubjoiningyear  49 non-null     int64
 5   Placementoffer   49 non-null     int64
dtypes: float64(3), int64(3)
memory usage: 2.4 KB

In [6]:
df.Math_score

0     76.0
1     61.0
2     70.0
3     80.0
4     71.0
5     68.0
6     66.0
7     67.0
8     64.0
9     75.0
10    65.0
11    64.0
12    67.0
13    78.0
14    60.0
15    76.0
16    70.0
17     NaN
18    62.0
19    66.0
20    64.0
21    62.0
22    76.0
23    70.0
24    62.0
25    61.0
26    69.0
27    79.0
28    80.0
29    76.0
30    68.0
31    68.0
32    79.0
33    67.0
34    61.0
35    70.0
36    71.0
37    63.0
38    74.0
39    73.0
40    80.0
41    79.0
42    71.0
43    78.0
44    74.0
45    68.0
46    62.0
47    68.0
48    76.0
Name: Math_score, dtype: float64

In [7]:
df.Math_score.min()

60.0

In [8]:
x=df.Math_score.min()

In [9]:
x

60.0

In [11]:
y=df.Math_score.fillna(x)

In [12]:
y

0     76.0
1     61.0
2     70.0
3     80.0
4     71.0
5     68.0
6     66.0
7     67.0
8     64.0
9     75.0
10    65.0
11    64.0
12    67.0
13    78.0
14    60.0
15    76.0
16    70.0
17    60.0
18    62.0
19    66.0
20    64.0
21    62.0
22    76.0
23    70.0
24    62.0
25    61.0
26    69.0
27    79.0
28    80.0
29    76.0
30    68.0
31    68.0
32    79.0
33    67.0
34    61.0
35    70.0
36    71.0
37    63.0
38    74.0
39    73.0
40    80.0
41    79.0
42    71.0
43    78.0
44    74.0
45    68.0
46    62.0
47    68.0
48    76.0
Name: Math_score, dtype: float64

In [13]:
df.isnull().sum()

Math_score         1
Reading_score      0
Writing_score      1
Placementscore     1
Clubjoiningyear    0
Placementoffer     0
dtype: int64

In [18]:
df.Math_score.isnull().sum()

np.int64(1)

In [19]:
df.Writing_score.min()

60.0

In [20]:
x=df.Writing_score.min()

In [21]:
x

60.0

In [22]:
y=df.Writing_score.fillna(x)

In [23]:
y

0     78.0
1     69.0
2     69.0
3     64.0
4     63.0
5     77.0
6     63.0
7     64.0
8     76.0
9     61.0
10    62.0
11    60.0
12    63.0
13    70.0
14    70.0
15    68.0
16    61.0
17    74.0
18    72.0
19    61.0
20    61.0
21    61.0
22    70.0
23    63.0
24    69.0
25    68.0
26    80.0
27    61.0
28    65.0
29    80.0
30    68.0
31    60.0
32    66.0
33    73.0
34    76.0
35    71.0
36    75.0
37    60.0
38    64.0
39    65.0
40    62.0
41    61.0
42    73.0
43    71.0
44    74.0
45    64.0
46    61.0
47    79.0
48    69.0
Name: Writing_score, dtype: float64

In [26]:
df.Placementscore.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
Name: Placementscore, dtype: bool

In [27]:
df.Placementscore.isnull().sum()

np.int64(1)

In [28]:
x=df.Placementscore.min()

In [29]:
x

75.0

In [30]:
y=df.Placementscore.fillna(x)

In [31]:
y

0     90.0
1     83.0
2     90.0
3     96.0
4     75.0
5     81.0
6     86.0
7     76.0
8     98.0
9     98.0
10    96.0
11    93.0
12    92.0
13    78.0
14    87.0
15    90.0
16    75.0
17    91.0
18    99.0
19    86.0
20    80.0
21    99.0
22    98.0
23    75.0
24    91.0
25    75.0
26    75.0
27    79.0
28    77.0
29    98.0
30    81.0
31    82.0
32    87.0
33    99.0
34    76.0
35    81.0
36    95.0
37    79.0
38    98.0
39    90.0
40    91.0
41    94.0
42    80.0
43    87.0
44    93.0
45    88.0
46    80.0
47    82.0
48    84.0
Name: Placementscore, dtype: float64

In [32]:
df.describe()

,Math_score,Reading_score,Writing_score,Placementscore,Clubjoiningyear,Placementoffer
count,48.000000,49.000000,48.000000,48.000000,49.000000,49.000000
mean,69.895833,81.326531,67.812500,87.062500,2022.000000,1.285714
std,6.154879,4.926069,6.041193,7.926273,1.399405,0.500000
min,60.000000,75.000000,60.000000,75.000000,2020.000000,1.000000
25%,64.750000,77.000000,62.750000,80.000000,2021.000000,1.000000
50%,69.500000,80.000000,68.000000,87.000000,2022.000000,1.000000
75%,76.000000,86.000000,72.250000,93.250000,2023.000000,2.000000
max,80.000000,90.000000,80.000000,99.000000,2024.000000,3.000000